@font-face {
  font-family: 'Expressway';
  src: url("../assets/fonts/expressway_rg.ttf") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: 'Expressway';
}

textarea, input, select {
  font-family: 'Expressway';
}

img {
  -webkit-user-drag: none;
}

.top_border {
  position: fixed;
  height: 1px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #dad5d5;
  z-index: 200;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#toolbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  border-right: 1px solid lightgray;
  -webkit-box-shadow: 0 0 2px #ccc;
          box-shadow: 0 0 2px #ccc;
  z-index: 100;
  padding: 7px;
}

#toolbox .item {
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 7px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#toolbox .item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#toolbox .item:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#toolbox .item[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

#toolbox .item img {
  width: calc(100% - 14px);
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#breadcrumb {
  position: fixed;
  top: 0;
  left: 50px;
  width: calc(100% - 50px);
  height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fafafa;
  border-bottom: 1px solid lightgray;
  -webkit-box-shadow: 0 0 2px #ccc;
          box-shadow: 0 0 2px #ccc;
  z-index: 101;
  padding: 8px;
}

#breadcrumb img {
  height: 100%;
  float: left;
  margin: 0 7px;
}

#breadcrumb span {
  cursor: pointer;
  float: left;
  color: #555;
  font-size: 14px;
}

#breadcrumb span:hover {
  color: #222;
}

#workboard {
  height: calc(100% - 35px);
  width: calc(100% - 50px);
  position: fixed;
  top: 35px;
  left: 50px;
}

#chart {
  width: 100%;
  height: 100%;
}

.floatingPanel {
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f3f3f3;
  border: 1px solid #818181;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.288);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.288);
  border-radius: 4px;
  outline: none;
  z-index: 2000;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  padding: 4px;
}

#quickActions {
  display: none;
  width: 100px;
  height: 32px;
  top: 300px;
  left: 300px;
}

#quickActions .item {
  height: 100%;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
  cursor: pointer;
}

#quickActions .item:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

#quickActions .item[disabled] {
  opacity: 0.2;
  pointer-events: none;
}

#quickActions .item img {
  height: 100%;
}

#editPanel {
  top: 150px;
  left: 200px;
  width: 200px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: none;
  opacity: 0;
}

#editPanel h4 {
  margin: 3px 0 6px 0;
  text-align: center;
  font-size: 15px;
}

#editPanel span {
  display: inline-block;
  margin: 4px 0 2px 0;
}

#editPanel span:first-child {
  margin: -1px 0 2px 0;
}

#editPanel textarea {
  width: 100%;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

#editPanel select, #editPanel input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 4px;
  border: 1px solid #A9A9A9;
}

#editPanel button {
  margin-top: 20px;
}

.btn1 {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #aaa;
  background-color: white;
  color: #4a4a4a;
  -webkit-box-shadow: 0 0 2px #bdbdbd;
          box-shadow: 0 0 2px #bdbdbd;
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
}

.btn1:active {
  opacity: 0.7;
}

.btn1:hover {
  background-color: #f9f9f9;
}

#waitPanel {
  display: none;
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  cursor: wait;
}
/*# sourceMappingURL=style.css.map */